__pycache__
apps/ytDownload/testenum.py
apps/ytDownload/originalclone.py
**/build
**/dist
**/.dist
**.idea
**.vscode
**.venv
exe_gen.txt

main.spec
#pycache
apps\ytDownload\__pycache__
apps\home\__pycache__
apps\converter\__pycache__
apps\clipper\__pycache__

.vscode/settings.json
VidMan.spec
