[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffprobe = "*"
customtkinter = "*"
ffmpeg-python = "*"
ez-setup = "*"
func-timeout = "*"
pip = "*"
opencv-python = "*"
pytube = "*"

[dev-packages]

[requires]
python_version = "3.9"
